.background    { background: rgb(50, 200, 185);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: #800000; }
.wall          { background: purple;   }
.floater       { background: #F0E68C; }

.actor  { position: absolute;  }
.coin {background: #FFFF00; }
.player { background: rgb(51, 102, 255); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
